@import url(font-awesome.min.css);
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

*{
    margin: 0;
}
body{
    font-family: "Raleway", Helvetica, sans-serif;
    color: #444;
}
h1,h2,h3, h4, h5{
    font-family: "Raleway";
}
a{
    text-decoration: none;
    color: #fff;
}
/* button style */
.btn{
    padding: 15px 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw;
    color: #ffffff;
}
.btn-gray{
    background-color: #fff;
    color: #444 !important;
}
.btn-big{
    font-size: 2.3vw !important;
}
.btn-blue{
    background-color: #3cadd4  !important;
    color: #fff;
}
.btn-dark{
    background-color: #383b43 !important;
    color: #ffffff !important;
}



/* header style  */
.header{
    background-image: url(../img/dark_tint.png),url(../img/pic02.jpg);
    background-position: center center;
    background-size: cover;
}


/* style top menu */
.header h1{
    float: left;
}
.nav{
    text-align: right;
}
.nav ul li {
    display: inline;
    padding: 0 15px; 
}
.nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
}
.nav ul li a:hover{
    color: #ffffff;
}
.top-menu{
    padding: 40px;
}


/* style banner content */
.banner-content{
    text-align: center;
    color: #fff;
    padding: 100px 0px;
}
.banner-content h2{
    font-size: 5vw;
    line-height: 100px;
}
.banner-content p {
    font-size: 2vw;
    margin-bottom: 50px;
}

/* style services */
.services{
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    padding: 100px 0px;
}
.services-header{
    margin-bottom: 50px;
}
.services-header h2{
    margin-bottom:  12px ;
    font-size: 4vw;
    color: #474747;
}
.services-header p {
    font-size: 2.5vw;
    color: #858585;
}

/*  services content */

    /*style icons in the services content  */
.icon:before{
    font-family: FontAwesome;
    font-style: normal;
}
.color-blue{
    color:#ffffff;
    background-color: #3cadd4;
}
.color-green{
    color:#ffffff;
    background-color: #add43c;
}
.color-red{
    color:#ffffff;
    background-color: #d43c61;
}
.big{
    font-size: 35px;
    padding: 35px 50px;
    border-radius: 100%;
}

/* -------  go to style boxs in the services content class*/
.box{
    background-color: #fff;
    padding: 70px 30px;
    border-radius: 4px;
    width: calc(100% /3 - 83px);
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin: 0px 10px;
}
.services-content>*{
    float: left;
}
.services-content::after,
.services-content::before{
    content: '';
    display: block;
    clear: both;
}
.box h4{
    color: #858585;
    font-size: 2.5vw;
    margin: 60px 0px 30px 0px;
}
.box p{
    line-height: 25px
}
.services-content{
    width: 90%;
    margin: 0px auto;
}


/* style about class */
.about{
    text-align: center;
    padding: 100px 0px;
}
.about-header h2{
    margin-bottom: 12px;
    font-size: 4vw;
    color: #474747;
    
}
.about-header p {
    font-size: 2.5vw;
    color: #858585;
}
.about-content{
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    padding: 50px 0px;
    width: 90%;
    margin:60px auto;
}
.about-content>*{
    float: left;
}
.about-content::after,
.about-content::before{
    content: '';
    display: block;
    clear: both;
}
.profile{
    width: calc(100% / 4 - 20px);
    padding: 0px 10px;
}

.profile img{
    border-radius: 100%;
    float: left;
}
.profile h4{
    margin-top: 20px;
}
.profile p{
    margin-top: 10px;
    line-height: 25px;
}
/* style about content class */
.about-footer{
    width: 65%;
    margin: 0px auto;
}
.about-footer p {
    line-height: 25px;
    font-size: 1.8vw; 
    margin: 25px 0px;
}
/* style contact */
.contacts{
    background-color: #3cadd4;
    padding: 100px 0px;
}
.contact-header{
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}
.contact-header h2{
    margin-bottom: 12px;
    font-size: 4vw;
}
.contact-header p {
    font-size: 2.5vw;
}

@media only screen and (max-width: 835px) {
    .box{
        width: 100%;
        padding: 60px 10px;
        margin: 15px 0px;
    }
    .profile{
        width: calc(100% / 2 - 30px);
    }
}
/* contact contact style  */
.contact-content{
    text-align: center ;
}
input[type="text"],
input[type="email"]{
    background-color:  #fff;
    color: #444;
    border: none;
    border-radius: 4px;
    padding: 15px 7px;
    width: 25%;
    margin:0px 9px;
}
textarea{
    background-color: #fff;
    color: #444;
    border: none;
    border-radius: 4px;
    padding: 15px 25px ;
    width: 50%;
    margin-top: 20px;
    height: 200px;
    margin-bottom: 25px;
}
::placeholder{
    font-family: "Raleway";
    color:  #858585;
    font-size: 15px;
}
/* ------------------------------------------- style footer ----------------------------------------- */
.footer{
    background-color: #383b43;   
    padding: 100px 0px;
}
.copyright li{
    display: inline;
    color:#858585 ;
    margin: 0px 5px;
    font-size: 15px;
    font-family:"Raleway" ;
}
.copyright li a{
    color: #a0a0a0;
}